* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* about */
.about {
  width: 100%;
  height: 100vh;
  background-color: cadetblue;
}
.about h1 {
  text-align: center;
  font-size: 70px;
}
.content {
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.left h3 {
  font-size: 40px;
  padding: 30px;
}
.right img {
  margin-right: 30px;
  width: 600px;
  height: 600px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 5px 5px 25px 5px black;
}
.right img:hover {
  scale: 1.1;
}
.category {
  width: 100%;
  height: auto;
  background: #555;
}
.category h1 {
  text-align: center;
  font-size: 50px;
}
.box {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 20px;
  margin: 40px;
  flex-wrap: wrap;
}
.box-1,
.box-2,
.box-3,
.box-4 {
  width: 500px;
  height: 500px;
  background-color: gray;
  box-shadow: 5px 5px 25px 5px black;
  border-radius: 15px;
}
.box-1 img {
  height: 450px;
  width: 450px;
  margin: 20px;
  object-fit: cover;
  border-radius: 10px;
}
.box-2 img {
  height: 400px;
  width: 400px;
  margin: 20px;
  object-fit: cover;
  border-radius: 10px;
}
.box-2 img {
  height: 400px;
  width: 400px;
  margin: 20px;
  object-fit: cover;
  border-radius: 10px;
}
.box-3 img {
  height: 400px;
  width: 400px;
  margin: 20px;
  object-fit: cover;
  border-radius: 10px;
}
.box-4 img {
  height: 400px;
  width: 400px;
  margin: 20px;
  object-fit: cover;
  border-radius: 10px;
}
.box-1 h3 {
  text-align: center;
}

/* image-slide */
.image {
  width: 100%;
  height: 100vh;
  background-color: aquamarine;
}
.image h1 {
  text-align: center;
  font-size: 50px;
}
.image-slide {
  margin: 100px 0 0 200px;
  width: 70%;
  height: 500px;
  display: flex;
  justify-content: center;
  gap: 20px;
  
}
.image-slide img {
  width: 20%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  border: 2px solid gray;
  transition: all ease-in-out 0.5s;
}
.image-slide img:hover {
  width: 45%;
  cursor: pointer;
}